volumes:
  postgres-data:

services:
  postgres:
    env_file:
      - .env
    image: postgres:16
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    volumes:
      - postgres-data:/var/lib/postgresql/data
