@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin clip-text($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
}
